<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="../lib/highlight/default.css" media="all">
    <link rel="stylesheet" href="../lib/highlight/monokai-sublime.css" media="all">
    <link rel="stylesheet" href="../lib/katex/katex.min.css" media="all">
    <style>
        body {
            font-family: Georgia, Cambria, serif;
        }

        blockquote {
            font-size: 1em;
        }

        pre {
            padding: 0 !important;
        }
    </style>
</head>
<body>
<div id="preview"></div>
<script>
    const $preview = document.getElementById("preview");
    window.updatePreview = function (html) {
        $preview.innerHTML = html;
    };


    const getOffset = (el) => {
        const box = el.getBoundingClientRect();

        return {
            top: box.top + window.pageYOffset - document.documentElement.clientTop,
            left: box.left + window.pageXOffset - document.documentElement.clientLeft
        };
    };

    window.scrollAnimateHandler = null;

    window.updateScroll = function (lineNumber) {

        const getScrollTop = () => {
            var lineFrom = lineNumber;

            var line = document.querySelector(`[line-from="${lineNumber}"]`);

            while (!line && lineFrom > 0) {
                lineFrom--;
                line = document.querySelector(`[line-from="${lineFrom}"]`);
            }

            if (line) {
                if (lineFrom == lineNumber) {
                    return getOffset(line).top;
                } else {
                    const lineTo = parseInt(line.getAttribute('line-to'), 10);
                    if (!isNaN(lineTo) && lineFrom != lineTo) {
                        const percent = (lineNumber - lineFrom) / (lineTo - lineFrom);
                        const lineHeight = parseFloat(document.defaultView.getComputedStyle(line, null).height, 10);
                        return getOffset(line).top + lineHeight * percent;
                    }
                }
            }
            return false;
        };

        const scrollTop = getScrollTop();

        if (scrollTop !== false) {

            const animate = function (targetTop) {
                var start, frameHandler;
                var currentTop = parseFloat(document.body.scrollTop);
                var deltaTop = targetTop - currentTop;

                var duration = 200;

                var drawFrame = function () {
                    var deltaTime = Date.now() - start;
                    if (deltaTime < duration) {
                        document.body.scrollTop = currentTop + deltaTop * deltaTime / duration;
                        frameHandler = window.requestAnimationFrame(drawFrame);
                    } else {
                        window.cancelAnimationFrame(frameHandler);
                        document.body.scrollTop = targetTop;
                    }
                };

                start = Date.now();
                frameHandler = window.requestAnimationFrame(drawFrame);
                return frameHandler;
            };

            window.cancelAnimationFrame(window.scrollAnimateHandler);
            window.scrollAnimateHandler = animate(scrollTop);
        }

    };
</script>
</body>
</html>